{% extends 'dashboard/messages/base.html' %}

{% load i18n %}

{% block "image_url" %} http://placehold.it/50/e53547/fff&text=C {% endblock %}
{% block "header" %}
    {% trans "Court" %} {% if object.text == 'created' %} {% trans "was created" %} {% else %} {% trans "was updated" %} {% endif %}
{% endblock %}
{% block "description" %}
  {% if object.text == 'created' %}
    {% trans "There is new court" %}
      <a href="{% url "let_me_app:view_court" pk=object.object.pk %}">
        {{ object.object.name }}
      </a>
    {% trans "for site" %}
      <a href="#"> {% comment %}{% url "let_me_app:view_court" pk=object.object.court_id %}">{% endcomment %}
        {{ object.object.name }}
      </a>

  {% else %}
      {% trans "Court was updated" %}
  {% endif %}
{% endblock %}