{% extends 'dashboard/messages/base.html' %}

{% load let_me_escort %}

{% block "image_url" %} http://placehold.it/50/55C1E7/fff&text=A {% endblock %}
{% block "header" %}
    Proposal {% if object.text == 'created' %} was created {% else %} was updated {% endif %}
{% endblock %}
{% block "description" %}
  {% if object.text == 'created' %}
    Event
    <a href="{% url "let_me_app:view_event" pk=object.object.event.id %}">
      {{ object.object.event.name }}
    </a> has been proposed for user {{ object.object.user }}
  {% else %}
    Proposal for event
    <a href="{% url "let_me_app:view_event" pk=object.object.event.id %}">
      {{ object.object.event.name }}
    </a> for user {{ object.object.user }}
    has been
    {{ object.object.status|as_status:APPLICATION_STATUSES.CHOICES }}
  {% endif %}
{% endblock %}