{% extends 'dashboard/messages/base.html' %}

{% load i18n %}

{% block "image_url" %} http://placehold.it/50/e53547/fff&text=E {% endblock %}
{% block "header" %}
    {% trans "Event" %} {% if object.text == 'created' %} {% trans "was created" %} {% else %} {% trans "was updated" %} {% endif %}
{% endblock %}
{% block "description" %}
  {% if object.text == 'created' %}
    {% trans "There is new event" %}
      <a href="{% url "let_me_app:view_event" pk=object.object.pk %}">
        {{ object.object.name }}
      </a>
    {% trans "for court" %}
      <a href="{% url "let_me_app:view_court" pk=object.object.court_id %}">
        {{ object.object.court }}
      </a>

  {% else %}
      {% trans "Event was updated" %}
  {% endif %}
{% endblock %}