{% extends 'dashboard/messages/base.html' %}

{% load let_me_escort i18n %}

{% block "image_url" %} http://placehold.it/50/55C1E7/fff&text=A {% endblock %}
{% block "header" %}
    {% trans "Proposal" %} {% if object.text == 'created' %} {% trans "was created" %} {% else %} {% trans "was updated" %} {% endif %}
{% endblock %}
{% block "description" %}
  {% if object.text == 'created' %}
    {% trans "New proposal to" %}
    <a href="{% url "let_me_app:view_event" pk=object.object.event.id %}">
      {{ object.object.event.name }}
    </a>
    {% trans "has been created for user" %} {{ object.object.user }}
  {% else %}
    {% trans "Proposal to" %}
    <a href="{% url "let_me_app:view_event" pk=object.object.event.id %}">
      {{ object.object.event.name }}
    </a> {% trans "for user" %} {{ object.object.user }}
    {% trans "has been" %}
    {{ object.object.status|as_status:PROPOSAL_STATUSES.CHOICES }}
  {% endif %}
{% endblock %}
