{% extends 'dashboard/messages/base.html' %}

{% load let_me_escort i18n %}

{% block "image_url" %} http://placehold.it/50/15a547/fff&text=P {% endblock %}
{% block "header" %}
    {% trans "User" %} {{ object.object.user }} {% trans "now follows" %} {{ object.followable_model }}
{% endblock %}
{% block "description" %}
  {% with followed=object.object.followable|show_followable %}
    {% trans "User" %} {{ object.object.user }} {% trans "now follows" %}
    <a href="{{ followed|detail_url }}">
      {{ followed }}
    </a>
  {% endwith %}
{% endblock %}