{% extends 'base.html' %}

{% load staticfiles let_me_escort leaflet_tags %}


{% block extra_head %}
    {% leaflet_css %}
    <link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Site</li>
</ol>
{% endblock %}

{% block main %}
<div class="row-fluid">
  <div class="col-md-6">
    {% leaflet_map "yourmap" callback="window.map_init_basic" %}
    {% with images=object.galleryimage_set.all %}
      {% include "images/gallery.html" %}
    {% endwith %}
  </div>
  <div class="col-md-6">
    <h2>
      {% followdropdown object "escort/follow_menu.html" %}
        {{ object.name }}
      {% endfollowdropdown %}
    </h2>
    <h3> Address </h3>
    <p>
      {{ object.address|linebreaksbr }}
    </p>
    <h3> Description </h3>
    <p>
      {{ object.description|linebreaksbr }}
    </p>
    <h3> Courts </h3>
    <ul>
      {% for court in object.court_set.all %}
        <li>
          {% followdropdown court "escort/follow_menu.html" %}
            <a href="{% url "let_me_app:view_court" pk=court.id %}">
              {{ court.description|truncatewords_html:4 }}
            </a>
          {% endfollowdropdown %}
        </li>
      {% endfor %}
    </ul>

    <div class="ui-group-buttons pull-right marginBottom10">
        <a href="{% url 'let_me_app:create_site_event' site=object.id %}" class="btn btn-primary">
          <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
          Create event
        </a>
    </div>

  </div>
</div>


{% endblock %}

{% block extra_scripts %}
  {% include "autocomplete_light/static.html" %}
  {% leaflet_js %}
  <script type="text/javascript">
      function map_init_basic (map, options) {
          L.marker([{{ object.geo_point.1 }}, {{ object.geo_point.0 }}]).addTo(map);
          map.panTo(new L.LatLng({{ object.geo_point.1 }}, {{ object.geo_point.0 }}));
      }
  </script>
{% endblock %}