{% extends 'base.html' %}

{% load i18n %}

{% load staticfiles let_me_escort leaflet_tags %}

{% block extra_head %}
    {% leaflet_css %}
    <link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Site" %}</li>
</ol>
{% endblock %}

{% block main %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% followdropdown object "escort/follow_menu.html" %}
        {{ object.name }}
      {% endfollowdropdown %}
    </h3>
  </div>
  <ul class="list-group">
    {% include "details_blocks/site.html" with site=object %}
    <li class="list-group-item">
      <div class="row toggle" id="dropdown-detail-4" data-toggle="detail-4">
        <div class="col-xs-10"> <h4>{% trans "Courts" %}</h4> </div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
      </div>
      <div id="detail-4">
        <ul class="court-list">
          {% for court in object.court_set.all %}
            <li>
              <img src="{{court.activity_type.image.url}}" class="list-pic img-responsive img-thumbnail">
              {% followdropdown court "escort/follow_menu.html" %}
                <a href="{% url "let_me_app:view_court" pk=court.id %}">
                  {{ court.description|truncatewords_html:4 }}
                </a>
              {% endfollowdropdown %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
  <div class="panel-footer">
    <div class="ui-group-buttons">
        <a href="{% url 'let_me_app:create_site_event' site=object.id %}" class="btn btn-primary">
          <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
          {% trans "Create event" %}
        </a>
    </div>
  </div>
</div>


{% endblock %}

{% block extra_scripts %}
  {% include "autocomplete_light/static.html" %}
  {% leaflet_js %}
  <script type="text/javascript">
      {% with longitude=object.geo_point.0|stringformat:"f" latitude=object.geo_point.1|stringformat:"f" %}
          function map_init_basic (map, options) {
              L.marker([{{ latitude }}, {{ longitude }}]).addTo(map);
              map.panTo(new L.LatLng({{ latitude }}, {{ longitude }}));

              $('#mapModal.modal').on('shown.bs.modal', function () {
                    map.invalidateSize();
              } );
          }
      {% endwith %}
  </script>
{% endblock %}
