{% extends 'base.html' %}

{% load staticfiles %}

{% block extra_head %}
  <link href="{% static "css/login_buttons.css" %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
{% endblock %}

{% block login %}
<div class="container text-center">

    <h2 class="form-signin-heading">Sign in</h2>
    <a href="{% url 'social:begin' 'facebook' %}?next={{ next }}"><i id="social-fb" class="fa fa-facebook fa-3x social"></i></a>
    <a href="{% url 'social:begin' 'twitter' %}?next={{ next }}"><i id="social-tw" class="fa fa-twitter fa-3x social"></i></a>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}"><i id="social-gp" class="fa fa-google-plus fa-3x social"></i></a>
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ next }}"><i id="social-vk" class="fa fa-vk fa-3x social"></i></a>
    <a href="{% url 'social:complete' 'account_kit' %}?next={{ next }}" data-href="/{{next}}" class="login-link">
        <i id="social-mb" class="fa fa-mobile fa-3x social"></i>
        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
        <input type="hidden" name="facebook_app_id" value="{{facebook_app_id}}">
    </a>
</div>

{% endblock %}

{% block extra_scripts %}
    {% if request.user.is_anonymous %}
      <script src="{% static 'js/account_kit_login.js' %}"></script>
    {% endif %}
{% endblock %}
