{% extends "events/modals/base.html" %}

{% load i18n %}

{% block modal_content %}
  <form method="post" enctype="multipart/form-data" action="{% url 'let_me_app:create_application' event=object.id %}">
    {% csrf_token %}
    {{ block.super }}
</form>
{% endblock %}

{% block modal_title %}{% trans "Apply for event" %}{% endblock %}
{% block modal_body %}
<textarea class="form-control" type="textarea" id="comment" name="comment" placeholder="{% trans 'Message' %}" maxlength="140" rows="7">
</textarea>
{% endblock %}
{% block modal_footer %}
    <button type="submit" class="btn btn-primary">{% trans "Apply for event" %}</button>
{% endblock %}