{% extends "base_modal.html" %}

{% load i18n %}

{% block modal_id %}modalCreateVisit{% endblock %}
{% block modal_labelledby %}modalCreateVisit{% endblock %}

{% block modal_content %}
  <form method="post" enctype="multipart/form-data" action="{% url 'let_me_app:create_visit' pk=object.id %}">
    {% csrf_token %}
    {{ block.super }}
</form>
  {% endblock %}

{% block modal_title %}{% trans "Create visit" %}{% endblock %}
{% block modal_body %}
    {% with visit_form as form %}
        {% include "form.html" %}
    {% endwith %}
{% endblock %}

{% block modal_footer %}
    <button type="submit" class="btn btn-primary">{% trans "Create visit" %}</button>
{% endblock %}
