{% extends "base_modal.html" %}

{% load i18n %}

{% block modal_id %}modalProposeEvent{% endblock %}
{% block modal_labelledby %}modalProposeEvent{% endblock %}

{% block modal_content %}
  <form method="post" enctype="multipart/form-data" action="{% url 'let_me_app:create_proposal' pk=object.id %}">
    {% csrf_token %}
    {{ block.super }}
</form>
  {% endblock %}

{% block modal_title %}{% trans "Propose event" %}{% endblock %}
{% block modal_body %}
  <div class="form-group">
    <textarea class="form-control" type="textarea" id="comment" name="comment" placeholder="{% trans 'Message' %}" maxlength="140" rows="7"></textarea>
  </div>
  {% with proposal_form as form %}
    {% include "form.html" %}
  {% endwith %}

{% endblock %}
{% block modal_footer %}
    <button type="submit" class="btn btn-primary">{% trans "Propose event" %}</button>
{% endblock %}
