{% extends 'base.html' %}
{% load staticfiles %}
{% load floppyforms %}

    {% block extra_css %}
      <link href="{% static "css/right_sidebar.css" %}" rel="stylesheet">
    {% endblock %}

    {% block extra_js %}
      <script src="{% static "js/right-sidebar.js" %}"></script>
    {% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <h2> {{object.name}} </h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
  {% if object.map_image %}
    <img src="{{ object.map_image.url }}" class="img-thumbnail">
  {% else %}
  {% endif %}
  </div>
  <div class="col-xs-4">
    <ul>
    <li>Description: {{object.description}} </li>
    <li>Address: {{object.address}}</li>
    </ul>
  </div>
</div>
{% include "right_sidebar.html" %}
{% endblock %}