{% extends "base_info_panel.html" %}

{% load i18n %}

{% block panel_title %}{% trans "My application" %}{% endblock %}

{% block panel_content %}
  <div>
    <h4>{% trans "Comment" %}</h4>
    {{ application.comment }}
    <h4>{% trans "Inventory" %}</h4>
      <ul>
        {% for inventory in application.inventory_list.inventory_set.all %}
          <li>
              {{ inventory.equipment }} ({{inventory.amount}})
              <div class="ui-group-buttons">
                {% include "events/buttons/cancel_inventory.html" %}
              </div>
          </li>
        {% endfor %}
      </ul>
      <div class="ui-group-buttons">
        {% url 'let_me_app:add_application_inventory' pk=application.id as form_url %}
        {% include "events/buttons/add_inventory.html" %}
      </div>
  </div>

    <div class="ui-group-buttons pull-right marginBottom10">
      {% include "events/buttons/cancel_application.html" %}
    </div>
{% endblock %}
