{% extends "base_info_panel.html" %}

{% load i18n %}

{% block panel_title %}{% trans "My visit" %}{% endblock %}

{% block panel_content %}
  <div>
    <h4>{% trans "Receipt" %}</h4>
    {% if visit.receipt %}
      {{ visit.date }}
      {{ visit.price }}
      {{ visit.status }}
    {% else %}
      {% trans "Nothing" %}
    {% endif %}
    <h4>{% trans "Inventory" %}</h4>
      <ul>
        {% for inventory in visit.inventory_list.inventory_set.all %}
          <li>
              {{ inventory.equipment }} ({{inventory.amount}})
              <div class="ui-group-buttons">
                {% include "events/buttons/cancel_inventory.html" %}
              </div>
          </li>
        {% endfor %}
      </ul>
      <div class="ui-group-buttons">
        {% url 'let_me_app:add_visit_inventory' pk=visit.id as form_url %}
        {% include "events/buttons/add_inventory.html" %}
      </div>
  </div>

    <div class="ui-group-buttons pull-right marginBottom10">
      {% include "events/buttons/cancel_visit.html" %}
    </div>
{% endblock %}
