{% extends "base_info_panel.html" %}

{% load i18n markdown %}

{% block panel_title %}{% trans "My visit" %}{% endblock %}

{% block panel_content %}
  <div>
    <h4>{% trans "Receipt" %}</h4>
    {% if visit.receipt %}
      {{ visit.receipt }}
    {% else %}
      {% trans "Nothing" %}
    {% endif %}
    <h4>{% trans "Inventory" %}</h4>
      <ul>
        {% for inventory in visit.inventory_list.inventory_set.all %}
          <li>
              {{ inventory.equipment }} ({{inventory.amount}})
              <div class="ui-group-buttons">
                {% include "events/buttons/cancel_inventory.html" %}
              </div>
          </li>
        {% endfor %}
      </ul>
      {% if visit.status == VISIT_STATUSES.PENDING %}
          <div class="ui-group-buttons">
            {% url 'let_me_app:add_visit_inventory' pk=visit.id as form_url %}
            {% include "events/buttons/add_inventory.html" %}
          </div>
      {% endif %}
  </div>

  {% if coach_recommendation %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Recommendation" %}</h3>
      </div>
      <div class="panel-body">
      {{coach_recommendation.recommendation|markdownify|safe}}
      </div>
      <div class="panel-footer">
          {{coach_recommendation.coach.user}}
      </div>
    </div>
  {% endif %}

  {% if visit_indexes %}
    <div class="panel panel-default">
    <!-- Default panel contents -->
        <div class="panel-heading">{% trans "Indexes" %}</div>
        <table class="table">
          <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Value" %}</th>
              <th>{% trans "Units" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for index in visit_indexes %}
              <tr>
                <td>
                  {{ index.parametr__name }}
                </td>
                <td>
                  {{ index.value }}
                </td>
                <td>
                  {{ index.parametr__units }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  {% endif %}

  {% if visit.status == VISIT_STATUSES.PENDING %}
    <div class="ui-group-buttons pull-right marginBottom10">
      {% include "events/buttons/cancel_visit.html" %}
    </div>
  {% endif %}
{% endblock %}
