{% extends 'base.html' %}

{% load staticfiles let_me_escort leaflet_tags i18n %}

{% block extra_head %}
  {% leaflet_css %}
  <link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="#">{% trans "Home" %}</a></li>
  <li><a href="{% url "let_me_app:view_site" pk=object.site_id %}">{% trans "Site" %}</a></li>
  <li class="active">{% trans "Court" %}</li>
</ol>
{% endblock %}

{% block main %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% followdropdown object "escort/follow_menu.html" %}
        {{ object.name }}
      {% endfollowdropdown %}
    </h3>
  </div>
  <ul class="list-group">
    {% include "details_blocks/site.html" with site=object.site %}
    {% include "details_blocks/court.html" with court=object %}
    <li class="list-group-item">
      <div class="row toggle" id="dropdown-detail-4" data-toggle="detail-4">
        <div class="col-xs-10"> <h4>{% trans "Events" %}</h4> </div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
      </div>
      <div id="detail-4">
        <ul>
          {% for event in object.event_set.all %}
            <li>
              {% followdropdown event "escort/follow_menu.html" %}
                <a href="{% url "let_me_app:view_event" pk=event.id %}"> {{ event.name }} ({{ event.start_at }}) </a>
                <span class="label label-info">
                  {{ event.status|as_status:EVENT_STATUSES.CHOICES }}
                </span>
              {% endfollowdropdown %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% if is_admin %}
        <li class="list-group-item">
          <div class="row toggle" id="dropdown-detail-5" data-toggle="detail-5">
            <div class="col-xs-10"> <h4>{% trans "Admin group" %}</h4> </div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
                <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
          </div>
          <div id="detail-5">
            <ul>
              {% for group_user in object.admin_group.user_set.all %}
                <li>
                  {% followdropdown group_user "escort/follow_menu.html" %}
                    {{ group_user.get_full_name }}
                  {% endfollowdropdown %}
                   <div class="ui-group-buttons">
                     {% with user=group_user %}
                       {% include "courts/buttons/remove_from_admin.html" %}
                     {% endwith %}
                   </div>
                </li>
              {% endfor %}
            </ul>
            <div class="ui-group-buttons">
                {% include "courts/buttons/add_to_admin_group.html" %}
            </div>
          </div>
        </li>
    {% endif %}
      </ul>
      <div class="panel-footer">
        {% if is_admin %}
        <div class="ui-group-buttons">
            {% include "courts/buttons/create_event.html" %}
        </div>
        {% endif %}
      </div>

  </div>
</div>

{% include "courts/modals/add_to_admin_group.html" %}

{% endblock %}

{% block extra_scripts %}
  {% include "autocomplete_light/static.html" %}
  {% leaflet_js %}
  <script type="text/javascript">
      {% with longitude=object.site.geo_point.0|stringformat:"f" latitude=object.site.geo_point.1|stringformat:"f" %}
          function map_init_basic (map, options) {
              L.marker([{{ latitude }}, {{ longitude }}]).addTo(map);
              map.panTo(new L.LatLng({{ latitude }}, {{ longitude }}));
          }
      {% endwith %}
  </script>
  <script src="{% static "js/expandable_listgroup.js" %}"></script>
{% endblock %}
