{% extends 'base.html' %}

{% load staticfiles let_me_escort leaflet_tags i18n avatar %}

{% block page_title %}
  {% with activity_type=object.activity_type.title name=object.description|truncatewords:5 %}
    {% blocktrans %}{{activity_type}} court "{{name}}" details{% endblocktrans %}
  {% endwith %}
{% endblock %}


{% block extra_head %}
  {% leaflet_css %}
  <link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
  <li><a href="{% url "let_me_app:view_site" pk=object.site_id %}">{% trans "Site" %}</a></li>
  <li class="active">{% trans "Court" %}</li>
</ol>
{% endblock %}

{% block main %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% followdropdown object "escort/follow_menu.html" %}
        {{ object.name }}
      {% endfollowdropdown %}
    </h3>
  </div>
  <ul class="list-group">
    {% include "details_blocks/site.html" with site=object.site %}
    {% include "details_blocks/court.html" with court=object %}
    <li class="list-group-item">
      <div class="row toggle" id="dropdown-detail-4" data-toggle="detail-4">
        <div class="col-xs-10"> <h4>{% trans "Events" %}</h4> </div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
      </div>
      <div id="detail-4">
        <ul class="court-list">
          {% for event in court_events %}
            <li>
              <img src="{{object.activity_type.image.url}}" class="list-pic img-responsive img-thumbnail">
              {% followdropdown event "escort/follow_menu.html" %}
                <a href="{% url "let_me_app:view_event" pk=event.id %}"> {{ event.start_at }} </a>
                <span class="label label-info">
                  {{ event.status|as_status:EVENT_STATUSES.CHOICES }}
                </span>
              {% endfollowdropdown %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% if is_admin %}
        <li class="list-group-item">
          <div class="row toggle" id="dropdown-detail-5" data-toggle="detail-5">
            <div class="col-xs-10"> <h4>{% trans "Admin group" %}</h4> </div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
                <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
          </div>
          <div id="detail-5">
            <ul class="user-list">
              {% for group_user in object.admin_group.user_set.all %}
                <li>
                  <img src="{{group_user|avatar_url}}" class="list-pic img-responsive img-thumbnail">
                  {% followdropdown group_user "escort/follow_menu.html" %}
                    {{ group_user.get_full_name }}
                  {% endfollowdropdown %}
                </li>
              {% endfor %}
            </ul>
            <div class="ui-group-buttons" >
                {% include "courts/buttons/add_to_admin_group.html" with group=object.admin_group %}
            </div>
          </div>
        </li><li class="list-group-item">
          <div class="row toggle" id="dropdown-detail-6" data-toggle="detail-6">
            <div class="col-xs-10"> <h4>{% trans "Court groups" %}</h4> </div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
                <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
          </div>
          <div id="detail-6">
            <ul class="user-list">
              {% for group in court_groups %}
                <li>
                  {{ group.verbose_name }}
                  {% if group.id == object.admin_group_id%}
                    ({% trans "Admin group" %})
                  {% endif %}
                  <div class="ui-group-buttons" >
                    {% include "courts/buttons/add_to_admin_group.html" %}
                  </div>
                </li>
              {% endfor %}
            </ul>
            <div class="ui-group-buttons" >
                {% include "courts/buttons/add_court_group.html" %}
            </div>
          </div>
        </li>
    {% endif %}
      </ul>
      <div class="panel-footer">
        {% if is_admin %}
        <div class="ui-group-buttons">
            {% include "courts/buttons/create_event.html" %}
        </div>
        {% endif %}
      </div>

  </div>
</div>

{% include "courts/modals/add_to_admin_group.html" %}

{% endblock %}

{% block extra_scripts %}
  {{group_admin_form.media}}
  {% leaflet_js %}
  <script src="{% static "js/detail_map.js" %}"></script>
  <script src="{% static "js/ajax-form-modal.js" %}"></script>
  <script src="{% static "js/modal.js" %}"></script>
  <script src="{% static "js/expandable_listgroup.js" %}"></script>
{% endblock %}
