{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block page_title %}
  {% with user=request.user %}
    {% blocktrans %}Courts managed by {{user}}{% endblocktrans %}
  {% endwith %}
{% endblock %}

{% block extra_head %}
<link href="{% static "css/event.css" %}" rel="stylesheet">
<link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
<link href="{% static "css/info_cards.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Managed events" %}</li>
</ol>
{% endblock %}

{% block main %}
  {% for object in object_list %}
    <a href="{% url 'let_me_app:view_court' pk=object.id %}">
        <div class="[ col-md-6 col-sm-12 ]" style="padding: 20px;">
            <div class="panel animated slideInDown">
            <img class="media-object" src="{{object.activity_type.image.url}}">
            <h3>{{ object.name }}</h3>
            <p>{{ object.description|linebreaksbr }}</p>
            <div class="slide">
              <ul>
                <li><i class="fa fa-check"></i> {% trans "Events total"%}: {{object.event_set.all|length}}</li>
                {% if object.active_event_set %}
                <li><i class="fa fa-check"></i> {% trans "Pending events"%}
                    <ul>
                        {% for event in object.active_event_set %}
                            <li> <i class="fa fa-check"></i>
                                {{ event.start_at }}
                                <ul>
                                    <li> {% trans "visible for" %}:
                                      {% for group in event.target_groups.all %}
                                        {{group.verbose_name}}
                                        {% if not forloop.last %},{% endif %}
                                      {% endfor %}
                                    </li>
                                    <li>{% trans "Visits count" %}: {{event.active_visit_set|length}}</li>
                                    <li>{% trans "Applications count" %}: {{event.active_application_set|length}}</li>
                                    <li>{% trans "Proposal count" %}: {{event.active_proposal_set|length}}</li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul
                </li>
                {% endif %}
              </ul>
            </div>
        </div>
      </div>
  </a>
  {% endfor %}
{% endblock %}
