{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block extra_head %}
<link href="{% static "css/event.css" %}" rel="stylesheet">
<link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Managed events" %}</li>
</ol>
{% endblock %}

{% block main %}
  {% for object in object_list %}
    <div class="well">
        <div class="media">
          <span class="pull-left" href="#">
            <a href="{% url "let_me_app:view_court" pk=object.id %}">
              <img class="media-object" src="{{object.activity_type.image.url}}">
            </a>
          </span>
          <div class="media-body">
            <p class="text-right">[some text]</p>
            <p>{{ object.description|linebreaksbr }}</p>
            <ul class="list-inline list-unstyled">
              <li><span><i class="glyphicon glyphicon-calendar"></i> {{ object.start_at }} </span></li>
              <li>|</li>
              <li>
                <span>
                {% for visit in object.visit_set.all %}
                   {% if visit.status == VISIT_STATUSES.PENDING or visit.status == VISIT_STATUSES.COMPLETED %}
                     <i class="glyphicon glyphicon-user"></i>
                   {% endif %}
                {% endfor %}
                </span>
              </li>
              <li>|</li>
              <li>
                <span>
                {% for visit in object.proposal_set.all %}
                   {% if visit.status == PROPOSAL_STATUSES.ACTIVE %}
                     <i class="glyphicon glyphicon-question-sign"></i>
                   {% endif %}
                {% endfor %}
                </span>
              </li>
              <li>|</li>
              <li>
                <span>
                  {% for visit in object.application_set.all %}
                    {% if visit.status == APPLICATION_STATUSES.ACTIVE %}
                      <i class="glyphicon glyphicon-exclamation-sign"></i>
                    {% endif %}
                  {% endfor %}
                </span>
              </li>
              </ul>
         </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
