{% extends 'base_helper.html' %}

{% load staticfiles let_me_escort i18n avatar %}

{% block extra_head %}
<link href="{% static "css/imaged_checkboxes.css" %}" rel="stylesheet">
{% endblock %}


{% block main %}
<div class="content">
  <legend>{% trans "Group Details" %}</legend>
  <form action="{{request.path}}" method="post">
    {% csrf_token %}
    {% include "form.html" %}
    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
  </form>
</div>
{% endblock %}

{% block extra_scripts %}
    {{ form.media }}
{% endblock %}

