{% extends "base_modal.html" %}

{% load i18n %}

{% block modal_class %} {{ block.super }} group-modal{% endblock %}

{% block modal_id %}modalAddToAdminGroup{% endblock %}
{% block modal_labelledby %}modalAddToAdminGroup{% endblock %}

{% block modal_content %}
  <form method="post"> {{ block.super }} </form>
{% endblock %}

{% block modal_body %}
  <div class="form-content">
  </div>
{% endblock %}

{% block modal_title %} {% trans "Add User to admin group" %} {% endblock %}

{% block modal_footer %}
    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
{% endblock %}
