{% extends 'base.html' %}

{% load let_me_chat i18n staticfiles avatar %}

{% block extra_head %}
<link href="{% static "css/event.css" %}" rel="stylesheet">
<link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
<link href="{% static "css/chat.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
  <li><a href="{% url "let_me_app:chat_list" %}">{% trans "Chats" %}</a></li>
  <li class="active">{% trans "Chat" %}</li>
</ol>
{% endblock %}

{% block main %}
  <div class="panel panel-default">
    <div class="panel-heading">
    {% if object.subject %}
      <h3>
        {{ object.subject.event }}
        <a href="{% url 'let_me_app:view_event' pk=object.subject_id %}">
          <span class="glyphicon glyphicon-link"></span>
        </a>
      </h3>
    {% endif %}
    {% for participant in object.chatparticipant_set.all %}
      <span class="btn btn-labeled btn-success">
        {{ participant.user }}
      </span>
    {% endfor %}
    </div>
    <div class="panel-body">
       <ul class="chat">
          {% for chat_message in object|chat_messages %}
              {% ifequal user chat_message.author %}
                <li class="right clearfix">
                <span class="chat-img pull-right">
                  <img src="{{user|avatar_url}}" alt="{{user}}" class="img-circle avatar" />
                </span>
              {% else %}
                <li class="left clearfix">
                <span class="chat-img pull-left">
                  <img src="{{chat_message.author|avatar_url}}" alt="{{ chat_message.author }}" class="img-circle avatar" />
                </span>
              {% endifequal %}
              <div class="chat-body clearfix">
                <div class="header">
                  {% ifequal user chat_message.author %}
                    <small class=" text-muted">
                      <span class="glyphicon glyphicon-time"></span>{{ chat_message.date }}
                    </small>
                    <strong class="pull-right primary-font">{{ chat_message.author }}</strong>
                  {% else %}
                    <strong class="primary-font">{{ chat_message.author }}</strong>
                    <small class="pull-right text-muted">
                      <span class="glyphicon glyphicon-time"></span>{{ chat_message.date }}
                    </small>
                  {% endifequal %}
                </div>
                <p>{{ chat_message.text }}</p>
              </div>
            </li>
         {% endfor %}
       </ul>
    </div>
    <div class="panel-footer">
       <form action="{% url "let_me_app:post_chat_message" pk=object.id %}" method="post">
         {% csrf_token %}
         <div class="input-group">
           <input id="{{ message_form.message.html_name }}" name="{{ message_form.message.html_name }}" type="text" class="form-control input-sm" placeholder="Type your message here..." />
           <span class="input-group-btn">
             <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
           </span>
         </div>
       </form>
    </div>
  </div>
{% endblock %}
