{% extends 'base.html' %}

{% load let_me_chat i18n staticfiles %}

{% block extra_head %}
<link href="{% static "css/event.css" %}" rel="stylesheet">
<link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="#">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Chats" %}</li>
</ol>
{% endblock %}

{% block main %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% trans "Chat list" %}
    </h3>
  </div>

  <ul class="list-group">

    {% for object in object_list %}
      <li class="list-group-item">
        <div class="row toggle" id="dropdown-detail-{{forloop.counter}}" data-toggle="detail-{{forloop.counter}}">
          <div class="col-xs-10">
            <h4>
              {% if object.chat.last_update > object.last_seen %}
                <span class="label label-warning"><span class="glyphicon glyphicon-envelope"></span></span>
              {% endif %}

              {% if object.chat.subject_id %}
                {% blocktrans with event_name=object.chat.subject.event.name %}
                Event "{{ event_name}}" discussion
                {% endblocktrans %}
              {% else %}
                {% trans "Group chat" %}
              {% endif %}
            </h4>
          </div>
          <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
        </div>
        <div id="detail-{{forloop.counter}}">
            {% with recent_message=object.chat|recent_chat_message %}
              {% if recent_message %}
                <p>
                  <strong> <i class="glyphicon glyphicon-calendar"></i> </strong>
                  {{ object.chat.last_update }}
                </p>
                <p>
                  <strong><i class="glyphicon glyphicon-envelope"></i></strong>
                  {{ recent_message.text }} ({{ recent_message.author }})
                </p>
              {% endif %}
            {% endwith %}
            <p>
              <strong><i class="glyphicon glyphicon-link"></i></strong>
              <a href="{% url "let_me_app:chat_details" pk=object.chat.id %}">
               {% trans "More..." %}
              </a>
            </p>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}


{% block extra_scripts %}
  <script src="{% static "js/expandable_listgroup.js" %}"></script>
{% endblock %}

