{% extends 'base.html' %}

{% load let_me_chat %}

{% load staticfiles %}

{% block extra_head %}
<link href="{% static "css/event.css" %}" rel="stylesheet">
<link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Chats</li>
</ol>
{% endblock %}

{% block main %}
  {% for object in object_list %}
    <div class="well">
        <div class="media">
          <div class="media-body">
            <ul class="text-right list-inline">
              {% for participant in object.chatparticipant_set.all %}
                  <li>{{ participant.user }}</li>
              {% endfor %}
            </ul>
            {% with recent_message=object|recent_chat_message %}
              <h4>
                <a href="{% url "let_me_app:chat_details" pk=object.id %}">
                  {{ recent_message.author }}
                </a>
              </h4>
              <p> {{ recent_message.text }} </p>
            {% endwith %}
            <ul class="list-inline list-unstyled">
              <li>
                <span>
                  <i class="glyphicon glyphicon-calendar"></i>
                  {{ object.last_update }}
                </span>
              </li>
            </ul>
         </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}