{% block navbar %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LMP</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Events
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "let_me_app:user_events" %}">My events</a></li>
                  <li><a href="#">Events managed</a></li>
                </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav pull-right">
            {% if user and not user.is_anonymous %}
              {% with proposals_count=user_active_proposals.count visits_count=user_active_visits.count messages_count=user_messages.count applications_count=user_active_applications.count %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"> </span>
                    {{ user.get_full_name }}
                    {% with total_count=proposals_count|add:visits_count|add:messages_count|add:applications_count %}
                      <span class="label label-info">{{ total_count }} </span>
                    {% endwith %}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings </a></li>
                    <li class="divider"></li>
                    <li><a href="#">User stats </span></a></li>
                    <li class="divider"></li>
                    <li>
                      <a href="{% url "let_me_app:chat_list" %}">
                      Messages
                      {% if messages_count %}
                        <span class="badge badge-info">
                          {{ messages_count }}
                        </span>
                      {% endif %}
                      </a>
                    </li>
                    <li>
                      <a href="#">
                      Proposals
                      {% if proposals_count %}
                        <span class="badge badge-info">
                          {{ proposals_count }}
                        </span>
                      {% endif %}
                      </a>
                    </li>
                    <li>
                      <a href="{% url "let_me_app:user_events" %}">
                        Visits
                      {% if visits_count %}
                        <span class="badge badge-info">
                          {{ visits_count }}
                        </span>
                      {% endif %}
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Applications
                      {% if applications_count %}
                        <span class="badge badge-info">
                          {{ applications_count }}
                        </span>
                      {% endif %}
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li> <a href="/logout"> Logout </a>
                    </li>
                  </ul>
                </li>
              {% endwith %}
            {% else %}
              <li><a href="/home">You are not logged in.</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}
