<sidebar class="animate">
    <p>Mouse0270 created this snippet on <strong>Bootsnipp</strong> network.</p>
    <ul>
        <li>
            <a href="https://twitter.com/mouse0270">@mouse0270 on twitter</a>
        </li>
        <li>
            <a href="https://facebook.com/rem.mcintosh">Learn More about me on Facebook</a>
        </li>
        <li>
            <a href="http://bootsnipp.com/mouse0270">Snippets</a>
        </li>
        <li>
            <a href="https://github.com/mouse0270">Projects</a>
        </li>
        <li>
            <a href="http://bootsnipp.com/user/snippets/www.linkedin.com/in/remcintosh/">Résumé</a>
        </li>
    </ul>
    <div class="divider"></div>
    <h4>Thanks To</h4>
    <ul>
        <li>
            <a href="https://twitter.com/BootSnipp">@BootSnipp on twitter</a>
            <a href="https://twitter.com/Svbtle">@Svbtle on twitter</a>
        </li>
    </ul>
</sidebar>
<div class="nav-controller">
    <span class="[ glyphicon glyphicon-chevron-down ] controller-open"></span>
    <span class="[ glyphicon glyphicon-remove ] controller-close"></span>
</div>