{% load leaflet_tags i18n %}

    <li class="list-group-item">
      <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
        <div class="col-xs-10"> <h4> {% trans "Site" %} </h4> </div>
        <div class="col-xs-2">
          <span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
          <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span>
        </div>
      </div>
      <div id="detail-1">
        <p>
          <strong>{% trans "Name" %}</strong>
          {{ site.name }}
        </p>
        <p>
          <strong>{% trans "Description" %}</strong>
          {{ site.description|linebreaksbr }}
        </p>
        <p>
          <strong>{% trans "Address" %}</strong>
          <address>
            {{ site.address|linebreaksbr }}
          </address>
        </p>
        <p>
          <strong>{% trans "Map" %}</strong>
          <a href="#" class="btn btn-link" data-toggle="modal" data-target="#mapModal">{% trans "Show" %}</a>

          <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Map" %}</h4>
              </div>
              <div class="modal-body">
                {% leaflet_map "yourmap" callback="window.map_init_basic" %}
                {% comment %}
                  {% with images=object.galleryimage_set.all %}
                    {% include "images/gallery.html" %}
                  {% endwith %}
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        </p>
      </div>
    </li>
