{% extends 'base.html' %}

{% load staticfiles let_me_escort i18n %}

{% block page_title %}
  {% blocktrans %}Edit user settings{% endblocktrans %}
{% endblock %}

{% block extra_head %}
  <link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
    <li class="active">{% trans "User settings" %}</li>
  </ol>
{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {% with language_form as form %}
          {% if form_name != 'site' %}
            <legend>{% trans "Localization" %} </legend>
            {% include "form.html" %}
          {% endif %}
        {% endwith %}
        <div class="ui-group-buttons pull-right marginBottom10">
            <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
        </div>
    </form>
{% endblock %}
