{% extends 'base.html' %}

{% load leaflet_tags static floppyforms i18n %}

{% block page_title %}
    {% blocktrans %}Create event{% endblocktrans %}
{% endblock %}

{% block extra_head %}
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}
    <link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
    <li class="active">{% trans "Create new event" %}</li>
  </ol>
{% endblock %}

{% block main %}

<form method="post">
  {% csrf_token %}
  {% for form_name, form in forms.items %}
    <legend>{{ form_name|title }} {% trans "details" %} </legend>
    {% include "form.html" %}
  {% endfor %}
    <div class="ui-group-buttons pull-right marginBottom10">
      <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
      <div class="or"></div>
      <a href="." class="btn btn-danger">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}

{% block extra_scripts %}
    {% for form in forms.values %}
        {{ form.media }}
    {% endfor %}
{% endblock %}
