{% extends 'base.html' %}

{% load staticfiles let_me_escort leaflet_tags i18n %}

{% block extra_head %}
  {% leaflet_css %}
  <link href="{% static "css/event.css" %}" rel="stylesheet">
  <link href="{% static "css/group_buttons.css" %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'let_me_app:view_site' pk=court.site_id %}">{% trans "Site" %}</a></li>
    <li><a href="{% url 'let_me_app:view_court' pk=court.id %}">{% trans "Court" %}</a></li>
    <li class="active">{% trans "Event" %}</li>
  </ol>
{% endblock %}

{% block main %}
<div class="row-fluid">
  <div class="col-md-6 inline-map" data-geopoint="[{{ court.site.geo_point.1|stringformat:'f' }}, {{ court.site.geo_point.0|stringformat:'f' }}]">
    {% leaflet_map "yourmap" %}
  </div>
  <div class="col-md-6">
    <form method="post">
      <legend>{% trans "Site" %}</legend>
      <p>
        {{ court.site.name }}
      </p>
      <p>
        {{ court.site.description|linebreaksbr }}
      </p>
      <p>
        {{ court.site.address|linebreaksbr }}
      </p>
      <legend>{% trans "Court" %}</legend>
      <p>
        {{ court.site.description|linebreaksbr }}
      </p>
      <legend>{% trans "Event" %}</legend>
        {% csrf_token %}
        {% with forms.event as form %}
            {% include "form.html" %}
        {% endwith %}
        {% with forms.visitors as form %}
            {% include "form.html" %}
        {% endwith %}
        {% with forms.proposals as form %}
            {% include "form.html" %}
        {% endwith %}
      <div class="ui-group-buttons pull-right marginBottom10">
        <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
        <div class="or"></div>
        <a href="{% url 'let_me_app:view_court' pk=court.id %}" class="btn btn-danger">{% trans "Cancel" %}</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static "js/detail_map.js" %}"></script>
  {% leaflet_js %}
  {% for form in forms.values %}
      {{ form.media }}
  {% endfor %}
{% endblock %}
