{% extends 'base.html' %}

{% load staticfiles let_me_escort leaflet_tags i18n %}

{% block extra_head %}
  {% leaflet_css %}
  <link href="{% static 'css/event.css' %}" rel="stylesheet">
  <link href="{% static 'css/group_buttons.css' %}" rel="stylesheet">
  <link href="{% static 'css/info_panel.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="#">{% trans "Home" %}</a></li>
    <li><a href="{% url 'let_me_app:view_site' pk=object.court.site_id %}">{% trans "Site" %}</a></li>
    <li><a href="{% url 'let_me_app:view_court' pk=object.court_id %}">{% trans "Court" %}</a></li>
    <li class="active">{% trans "Event" %}</li>
  </ol>
{% endblock %}

{% block main %}
<div class="row">
  {% if my_active_visit %}
    <div class="col-md-6">
      {% include "events/panels/my_visit.html" with visit=my_active_visit %}
    </div>
  {% endif %}
  {% if my_active_proposal %}
    <div class="col-md-6">
      {% include "events/panels/my_proposal.html" with proposal=my_active_proposal %}
    </div>
  {% endif %}
  {% if my_active_application %}
    <div class="col-md-6">
      {% include "events/panels/my_application.html" with application=my_active_application %}
    </div>
  {% endif %}
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% followdropdown object "escort/follow_menu.html" %}
        {{ object.name }} ({{object.start_at}})
      {% endfollowdropdown %}
      {% if is_admin %}
        <div class="pull-right action-buttons">
          <div class="btn-group pull-right">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                {% if object.status == EVENT_STATUSES.PENDING %}
                    <li> {% include "events/buttons/complete_event.html" %}</li>
                    <li> {% include "events/buttons/cancel_event.html" %}</li>
                {% endif %}
                <li> {% include "events/buttons/clone_event.html" %}</li>
              </ul>
          </div>
        </div>

        <div class="ui-group-buttons">
        </div>
      {% endif %}
    </h3>
  </div>
  <ul class="list-group">
    {% include "details_blocks/site.html" with site=object.court.site %}
    {% include "details_blocks/court.html" with court=object.court %}
    <li class="list-group-item">
      <div class="row toggle" id="dropdown-detail-3" data-toggle="detail-3">
        <div class="col-xs-10"> <h4>{% trans "Event" %}</h4> </div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
      </div>
      <div id="detail-3">
        <p>
          <strong>{% trans "Name" %}</strong>
          {{ object.name|linebreaksbr }}
        </p>
        <p>
          <strong>{% trans "Start at" %}</strong>
          {{ object.start_at }}
        </p>
        <p>
          <strong>{% trans "Preliminary price" %}</strong>
          {{ object.preliminary_price }}
        </p>
        <p>
          <strong>{% trans "Description" %}</strong>
          {{ object.description|linebreaksbr }}
        </p>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row toggle" id="dropdown-detail-4" data-toggle="detail-4">
        <div class="col-xs-10"> <h4>{% trans "Inventory" %}</h4> </div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
      </div>
      <div id="detail-4">
        <ul>
          {% for inventory in object.inventory_list.inventory_set.all %}
            <li> <strong>{{ inventory.equipment }}</strong> {{ inventory.amount }}
            {% if is_admin %}

                {% if object.status == EVENT_STATUSES.PENDING %}
                  <div class="ui-group-buttons">
                    {% include "events/buttons/cancel_inventory.html" %}
                  </div>
                {% endif %}
            {% endif %}
            </li>
          {% endfor %}
          {% for inventory in user_inventory %}
            <li> <strong>{{ inventory.equipment__name }}</strong> {{ inventory.amount }} <small>({{inventory.user}})</small></li>
          {% endfor %}
        </ul>
        {% if is_admin %}

            {% if object.status == EVENT_STATUSES.PENDING %}
              <div class="ui-group-buttons">
                {% url 'let_me_app:add_event_inventory' pk=object.id as form_url %}
                {% include "events/buttons/add_inventory.html" %}
              </div>
            {% endif %}
        {% endif %}
      </div>
    </li>
    <li class="list-group-item">
      <div class="row toggle" id="dropdown-detail-5" data-toggle="detail-8">
        <div class="col-xs-10"> <h4>{% trans "Staff" %}</h4> </div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
      </div>
      <div id="detail-8">
        <ul>
          {% for staff in object.eventstaff_set.all %}
            <li>
              {{ staff }}
            </li>
          {% endfor %}
        </ul>
        {% if is_admin %}

            {% if object.status == EVENT_STATUSES.PENDING %}
              <div class="ui-group-buttons">
                {% include "events/buttons/create_staff.html" %}
              </div>
            {% endif %}
        {% endif %}
      </div>
    </li>
    <li class="list-group-item">
      <div class="row toggle" id="dropdown-detail-5" data-toggle="detail-5">
        <div class="col-xs-10"> <h4>{% trans "Visitors" %}</h4> </div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
      </div>
      <div id="detail-5">
        <ul>
          {% for visit in active_visits %}
            <li>
              {% if visit.status == VISIT_STATUSES.PENDING or visit.status == VISIT_STATUSES.COMPLETED %}
                {{ visit.user }}
                {% with visit.user as visitor %}
                  {% if is_admin %}
                    {% if object.status == EVENT_STATUSES.PENDING %}
                      <div class="ui-group-buttons">
                        {% include "events/buttons/dismiss_visit.html" %}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endwith %}
              {% else %}

                {% if is_admin %}
                    <del>
                      {{ visit.user }}
                    </del>
                    <span class="label label-info">
                      {{ visit.status|as_status:VISIT_STATUSES.CHOICES }}
                    </span>
                {% endif %}

              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if is_admin %}
            {% if object.status == EVENT_STATUSES.PENDING %}
              <div class="ui-group-buttons">
                {% include "events/buttons/create_visit.html" %}
              </div>
            {% endif %}
        {% endif %}
      </div>
    </li>
    {% if is_admin %}
      <li class="list-group-item">
        <div class="row toggle" id="dropdown-detail-6" data-toggle="detail-6">
          <div class="col-xs-10"> <h4>{% trans "Applications" %}</h4> </div>
          <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
        </div>
        <div id="detail-6">
          <ul>
            {% for application in active_applications %}
              <li>
                {{ application.user.get_full_name }} ({{ application.comment|truncatewords_html:4 }})

                {% if object.status == EVENT_STATUSES.PENDING %}
                    <div class="ui-group-buttons marginBottom10">
                      {% with application.user as applicant %}
                        {% include "events/buttons/accept_application.html" %}
                      {% endwith %}
                      <div class="or"></div>
                      {% include "events/buttons/decline_application.html" %}
                    </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row toggle" id="dropdown-detail-7" data-toggle="detail-7">
          <div class="col-xs-10"> <h4>{% trans "Proposals" %}</h4> </div>
          <div class="col-xs-2"><span class="glyphicon glyphicon-menu-down pull-right toggle-icon"></span>
            <span class="glyphicon glyphicon-menu-up pull-right toggle-icon" style="display: none;"></span></div>
        </div>
        <div id="detail-7">
          <ul>
            {% for proposal in active_proposals %}
              {% if proposal.status == PROPOSAL_STATUSES.ACTIVE %}
                  <li>
                      {{ proposal.user.get_full_name }}

                        {% if object.status == EVENT_STATUSES.PENDING %}
                          <div class="ui-group-buttons">
                            {% with invitee=proposal.user %}
                              {% include "events/buttons/cancel_proposal.html" %}
                            {% endwith %}
                          </div>
                        {% endif %}

                  </li>
              {% endif %}
            {% endfor %}
          </ul>
            {% if object.status == EVENT_STATUSES.PENDING %}
              <div class="ui-group-buttons">
                {% include "events/buttons/propose_event.html" %}
              </div>
            {% endif %}
        </div>
      </li>
      {% endif %}
    </ul>
  {% ifequal object.status 1 %}
    <div class="panel-footer">

        {% if object.status == EVENT_STATUSES.PENDING %}
          <div class="ui-group-buttons">
            {% if not my_active_visit and not my_active_proposal and not my_active_application %}
              {% include "events/buttons/apply_for_event.html" %}
            {% endif %}
          </div>
        {% endif %}

      <div class="pull-right">
        <!-- Put this script tag to the <head> of your page -->
        <script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>

        <!-- Put this script tag to the place, where the Share button will be -->
        <script type="text/javascript"><!--
        document.write(VK.Share.button(false,{type: "round", text: "Сохранить"}));
        --></script>
      </div>

    </div>
  {% endifequal %}
</div>


{% include "events/modals/add_inventory.html" %}
{% include "events/modals/apply_for_event.html" %}
{% include "events/modals/propose_event.html" %}
{% include "events/modals/create_visit.html" %}

{% endblock %}

{% block extra_scripts %}
  {% include "autocomplete_light/static.html" %}
  {% leaflet_js %}
  <script type="text/javascript">
      {% with longitude=object.court.site.geo_point.0|stringformat:"f" latitude=object.court.site.geo_point.1|stringformat:"f" %}
          function map_init_basic (map, options) {
              L.marker([{{ latitude }}, {{ longitude }}]).addTo(map);
              map.panTo(new L.LatLng({{ latitude }}, {{ longitude }}));

                $('#mapModal.modal').on('shown.bs.modal', function () {
                        map.invalidateSize();
                } );
          }
      {% endwith %}
  </script>
  <script src="{% static "js/expandable_listgroup.js" %}"></script>
  <script src="{% static "js/modal.js" %}"></script>
{% endblock %}
